<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:amq="http://activemq.apache.org/schema/core" xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd"
  default-lazy-init="true">

  <!-- JMS ConnectionFactory to use, configuring the embedded broker using XML -->
  <amq:connectionFactory id="jmsFactory"
    brokerURL="failover:(tcp://localhost:9125)" />
  <bean name="connectionFactory"
    class="org.springframework.jms.connection.CachingConnectionFactory">
    <constructor-arg ref="jmsFactory" />
    <property name="sessionCacheSize" value="100" />
  </bean> 
  <bean name="marshaller" class="org.springframework.oxm.xstream.XStreamMarshaller" />
  <bean name="marshallingConverter"
    class="org.springframework.jms.support.converter.MarshallingMessageConverter">
    <property name="targetType" value="TEXT" />
    <property name="marshaller" ref="marshaller" />
    <property name="unmarshaller" ref="marshaller" />
  </bean>
  <bean name="jmsTemplateTopic" class="org.springframework.jms.core.JmsTemplate">
    <constructor-arg ref="connectionFactory" />
    <property name="messageConverter" ref="marshallingConverter" />
    <property name="defaultDestinationName" value="activeMQTestQ" />
  </bean>
</beans>