<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!-- Log levels are (more verbose to less verbose):
         TRACE, DEBUG, INFO, WARN, ERROR, FATAL -->

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="%-5p %d{DATE}:[%t:%c{1}][%x] %m %n" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="CONSOLE" />
  </root>

</log4j:configuration>

